[[source]]
url = "https://github.com/poliakustyczny/YAPS/"
verify_ssl = true
name = "YAPS"

[packages]
python-magic = "==0.4.15"
ExifRead = "==2.1.2"

[dev-packages]
pytest = "*"
pylint = "*"
pytest-cov = "*"

[requires]
python_version = "3.6"
